.slide-bg{
    background: #eee;
    padding: 2px;
    overflow: hidden;
}
.qty{
    position: absolute;
    top: -8px;
    left: 8px;
    background: red;
    font-size: 10px;
    padding: 0 2px;
    color: #fff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 16px;
}
ion-footer{
    background-color: #fff;
}